*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}


a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 300;
}

#root{
  height: 100%;
}

input[type="date"]{
  background-color: #0080ff;
  padding: 5px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 40%;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

